*{
    margin: 0;
    padding: 0;
}
nav > ul > li{
    float: left;
    list-style: none;
}
.background {
    height: 900px;
    
    background-image:
        linear-gradient(to right,
        rgba(0,0,0,0) 0%,
        rgba(0,0,0,0.5) 40%,
        rgba(0,0,0,0.5) 60%,
        rgba(0,0,0,0) 100%
        ),
        url("minecraftIntro-background.jpg");
    
    background-size: 100% 100%, auto;

    background-position: center;
}

ul li a {
    color: white;
    padding: 0 1rem;
    height: 100px;
    display: flex;
    align-items: center;
    background-color: rgba(0,0,0,0.5);
    text-decoration: none;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 2rem;
}

ul li a:hover{
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    font-size: 34pt;
}


.navbar {
    background-image: url("grassBlock.jpg");
    background-color: rgba(0,0,0,0.5);
    background-blend-mode: multiply;
    background-repeat: repeat;
    background-position: center;
    background-size: 130px auto;
    
    height: 100px;
    display: flex;

  
    position: relative;
}

.alignment{
    
    padding : 15rem;
        justify-content: center;
        align-items: center;
        text-align: center;
    

}